<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyongx.system.mapper.CmsArticleMapper">

    <!-- 关联表定义 start -->
    <select id="selectCategorysById" resultType="com.beyongx.system.entity.CmsCategory">
        select c.* from cms_category as c, cms_category_article as ca where c.id = ca.category_id and ca.article_id = #{id}
    </select>

    <!-- 关联表定义 end -->

    <select id="selectByCategoryId" resultType="com.beyongx.system.entity.CmsArticle">
        select * from cms_article as a, cms_category_article as ca 
        where a.id = ca.article_id 
        <if test="categoryId != null">
            and ca.category_id = #{categoryId}
        </if>
        <if test="params.status != null">
            and a.status = #{params.status}
        </if>
        <if test="params.startTime != null">
            and a.create_time >= #{params.startTime}
        </if>
        <if test="params.endTime != null">
            and a.create_time <![CDATA[ <]]> #{params.endTime}
        </if>
        <if test="params.keyword">
            and a.title like "%${params.keyword}%"
        </if>
    </select>

    <select id="incCommentCount" resultType="Integer">
        update cms_article set comment_count = comment_count + 1 where id = #{id}
    </select>

    <select id="incCommentCount" resultType="Integer">
        update cms_article set read_count = read_count + 1 where id = #{id}
    </select>
</mapper>
