<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyongx.system.mapper.SysRoleMapper">

    <select id="selectUsersByIdPage" resultType="com.beyongx.system.entity.SysUser">
        select distinct(u.id) as uid, u.* from sys_user as u, sys_user_role as ur where u.id = ur.role_id and u.status != -1 and ur.role_id = #{id}
    </select>

</mapper>
